@media screen and (max-width: 719px) {
    body {
        min-width: none;
        width: 100% !important;
    }

    #topBar {
        height: 100px;
    }

    #buttonsCont {
        display: block;
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    #topBar1stButton {
        margin-left: 0;
    }

    #lyricsEnterer {
        width: 50% !important;
        height: 700px !important;
    }

    #lyricsEnterer::-webkit-scrollbar {
        /* background: #131417; */
        width: 20px;
    }

    #audioPlayerBar {
        width: 100% !important;
        min-width: 0px !important;

    }



}














body {
    font-family: BentonSans, sans-serif;
    /* background-color: #2E3132; */
    background-color: #131417;
    color: #ffffff;
    min-width: 865px;
    margin: 0px;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#topBar {
    min-height: 50px;
    margin: 0px;
    border-bottom: 0px solid #ffffff;
    padding: 5px;
    height: 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

#mainHeader {
    margin: 10px 4px 5px 5px;
    text-align: left;
    width: fit-content;
    display: inline;
}

.inputC {
    background-color: inherit;
    border: 0px solid #ffffff;
    margin: 0;
    height: 45px;
    width: 150px;
    color: #22b9e3;
    font-size: 100%;
}

.inputC::placeholder {
    position: relative;
    top: 0;
    /* color: #d6d6d6; */
    opacity: 1;
    font-size: 115%;
}

.inputC:focus {
    border: 0px solid #131417;
    box-shadow: 0 0 3px #131417;
    outline-offset: 0px;
    outline: none;
}

#buttonsCont {
    width: 370px;
    float: right;
}

.topBarButton {
    background-color: inherit;
    border: 0px solid #ffffff;
    margin: 0;
    height: 45px;
    color: #22b9e3;
    font-size: 100%;
    border-radius: 0.5em;
    margin: 0 1.5%;
    align-items: right;
}

.topBarButton:hover {
    background-color: #2874ed;
    cursor: pointer;
}

.tbBarCtxt {
    width: 120px;
}

#songNameInput {
    margin-left: 5px;
}

#topBar2ndButtonTxt {
    color: #919191;
}

#topBar3rdButtonTxt {
    color: #919191;
}

#topBarSettings {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    display: inline-block;
    position: relative;
    top: 10px;
}

#cogIcon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px
}

#cogPopup {
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #1F2839;
    border-radius: 1em;
    padding: 15px;
    width: 150px;
    height: 70px;
    display: none;
}

#cogPopupX {
    color: #ff0000;
    display: block;
    text-align: right;
}

#cogPopupXX:hover {
    cursor: pointer;
}

#cogPopupSelect {
    color: #ffffff;
    background-color: #323C50;
    padding: 4px;
    border-radius: 0.4em;
}

#lyricsEnterer {
    width: 99.6%;
    margin: 0;
    padding: 3px 0.2% 0 0.2%;
    resize: none;
    border: 0px solid #ffffff;
    background-color: #2f3335;
    color: #ffffff;
    overflow: visible;
}

#lyricsEnterer:focus {
    outline: none;
}

#lyricsEnterer::placeholder {
    position: relative;
    top: 45%;
    display: block;
    text-align: center;
    opacity: 1;
}

#lyricsEnterer::-webkit-scrollbar {
    /* background: #131417; */
    width: 0;
}

#secondScreenContent {
    display: none;
    background-color: #2E3132;
    width: 67%;
    margin: 5px auto;
    border-radius: 0.5em;
    padding: 13px;
}

#fileSelector {
    background-color: #22b9e3;
    border: 2px solid #ffffff;
    border-radius: 0.4em;
    text-align: center;
    width: 124px;
}

#fileSelector::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
}

.licence {
    position: absolute;
    margin: 10px;
    bottom: 0;
    right: 0;
    font-size: 70%;
    color: #919191;
}

.licenceLink:link {
    color: #919191;
}

.licenceLink:visited {
    color: #919191;
}














#thirdScreenContent {
    display: none;
    background-color: #1F2839;
    width: 100%;
    height: 85%;
    margin: 5px auto;
    padding: 0;
    overflow-y: scroll;
}

#thirdScreenContent::-webkit-scrollbar {
    /* background: #131417; */
    width: 0;
}

#audioPlayerBar {
    position: sticky;
    display: inline-block;
    min-width: 770px;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: #131417;
    margin: 0;
    padding: 0;
}

#audioPlaybackBarSpan {
    display: inline-block;
    width: 100%;
}

#audioPlaybackBar {
    margin: 0 auto;
    width: 100%;
    display: inline;
}

.audioControlButton {
    display: inline-block;
    width: 120px;
    background-color: #2874ed;
    /* padding: 2x 5px; */
    border-radius: 00.3em;
    text-align: center;
}

.audioButton {
    background-color: #2874ed;
    padding: 2x 5px;
    border-radius: 00.3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 20px;
}

.audioControlButton:hover {
    cursor: pointer;
}


#mainControls {
    display: inline-block;
    width: 390px;
}

#controlsConainer {
    display: block;
    margin: 13px 0 0 0;
    width: 659px;
    margin: 0 auto;
}

/*Bottom 3*/
#audioControlsP {
    position: relative;
    right: 2px;
    padding: 0 0.5%;
    margin: 0px;
}

#audioControlButtonPara {
    position: relative;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    margin: 0 0%;
}

#syncButton {
    position: relative;
    bottom: 10px;
    font-size: 150%;
    width: 130px;
    height: 50px;
    /* margin-left: 32.8%; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#hintsAB {
    min-width: 100px;
    display: inline-block;
    width: 120px;
    text-align: center;
    margin-left: 0% !important;
}

#timeDisplay {
    position: relative;
    top: 3px;
    width: 115px;
    margin: 0 2px;
    text-align: center;
    display: inline-block;
}

#volumeSlider {
    position: relative;
    top: 7px;
    width: 120px;
}

.audioButton:hover {
    cursor: pointer;
}

#downloadAB {
    display: inline-flex;
    position: relative;
    bottom: 13px;
    width: 130px;
    height: 50px;
    right: 20px;
    border-radius: 0.3em;
    font-size: 130%;
}






#tt0 {
    border-top-left-radius: 1em;
}

table {
    border-collapse: collapse;
    margin: 10px 0px 10px 10px;
    /* border-radius: ; */
}

.tableTime {
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px;
}

.tableLyrics {
    width: 100%;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px;
}



.tableColor1 {
    background-color: #323C50;
}

.tableColor2 {
    background-color: #2C3346;
}













/* _position: absolute; */
/* _top: expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight))); */
/*---------------------    464A53     ---------- #000c4a --------------------------------------------*/
/*---------------------    323C50     2C3346   -----------------------------------------------------*/

.hidden {
    display: none;
}

#progressbar {
    width: 100px;
    background-color: #2874ed;
}

#supportedFormatsHelp {
    color: #2874ed;
}

#supportedFormatsHelp:hover {
    cursor: pointer;
}

#loadingScreen {
    display: none;
    background-color: #2E3132;
    width: 67%;
    margin: 5px auto;
    border-radius: 0.5em;
    padding: 13px;
    font-size: 200%;
}

.red {
    color: #ff0000;
}

#lyrBoard {
    background-color: #000000;
    padding: 3px;
    border-radius: 0.7em;
    width: 85%;
    margin: 0;
    display: inline-block;
}

.loopAddedTime {
    display: inline;
    width: min-content;
}

#lyrBoardTime {
    width: 33px;
    margin: 0;
    display: inline-block;
}

a:visited {
    color: white;
}

#loadingText1 {
    display: none;
}

#loadingText2 {
    display: none;
}

#loadingText3 {
    display: none;
}


/* #helpPara {
    text-align: ;
} */

/* @media (max-width: 700px) {
    #firstScreenCont {
        width: 100%;
        margin: 0px 0px;
        border-radius: 0%;
        padding: 5px;
    }

    #secondScreenContent {
        width: 100%;
        margin: 0px 0px;
        border-radius: 0%;
        padding: 5px;
    }

    #mainH {
        font-size: 150%;
        margin: 5px auto;
        text-align: center;
    }

    #submitLyrics {
        border-radius: 0em;
        width: 100%;
        height: 70px;
        font-size: 230%;
    }
} */